[Interface]
Address = {{ wg_client_ip }}
PrivateKey = {{ wg_client_privkey_content.stdout }}
{% if wg_dns | length > 0 %}DNS = {{ wg_dns }}{% endif %}
MTU = {{ wg_mtu }}

[Peer]
PublicKey = {{ wg_server_public_key }}
Endpoint = {{ wg_server_endpoint }}:{{ wg_server_port }}
AllowedIPs = {{ wg_allowed_ips }}
PersistentKeepalive = {{ wg_persistent_keepalive }}
